body {
    background-color: #1e1e28;
    color: #debede;
    text-align: center;
}

body.dark {
    background-color: #1e1e28 !important;
    color: #debede !important;
}

body.light {
    color: #1e1e28 !important;
    background-color: #debede !important;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    font-weight: 300;
}

.centre {
    width: 80%;
    margin: 0 auto;
}

#toggle {
    margin-top: 10px;
    margin-bottom: 10px;
}

.react-toggle--checked .react-toggle-track {
  background-color: #1e1e28;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #1e1e28;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #debede;
}

.react-toggle-track {
  background-color: #202040;
}

.react-toggle-thumb {
  border: 1px solid #debede;
  background-color: #debede;
}

#header-padding {
    margin-top: 20px;
}
